#sidebar {
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 100%;
    border-width: 2px;
}
#cardScreen {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 92%;
    margin-left: 8%;
    position: fixed;
    top: 0;
    justify-content: space-evenly;
    overflow: auto;
}

.card {
    width: 30%;
    height: 40%;
    border-width: 2px;
    margin: 20px;
}

#graph {
    width: 70%;
}