#sidebar {
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 100%;
    background: red;
}
#sidebar_container {
    height: 100%;
    width: 8%;
}
#cardScreen {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 92%;
    margin-left: 8%;
    position: fixed;
    top: 0;
    justify-content: space-evenly;
    overflow: auto;
}

.card {
    width: 30%;
    height: 40%;
    border-width: 2px;
    margin: 20px;
    background: rgb(39,41,59);
}

#graph {
    width: 70%;
}

body {
    background: rgb(30,30,45);
    color: lightgray;
}